<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <h1>All the Users</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>age</th>
        </tr>
        {% for user in users %}<!--to pass data from backend (jinja)-->
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td> <!--first name and last name together-->
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>

        </tr>
        {% endfor %}
    </table>
    <span></span>
    <h2>Add a User</h2>
    <form method="POST" action="{% url 'add_user' %}">
        {% csrf_token %}
        <div>
            <div><!--validation for front end to check what i need inserted-->
                <label for="firstname">First Name:</label>
                <input class="nameData" type="text" id="firstname" name="first_name" required>
                <label for="lastname">Last Name:</label>
                <input class="nameData" type="text" id="lastname" name="last_name" required>
            </div>
            <div>
                <label  for="email">Email:</label>
                <input class="userData" type="email" id="email" name="email" required>
                <label for="age">Age:</label>
                <input class="userData" type="text" id="age" name="age" required>
            </div>
            <button class="btnSubmit" type="submit">Add</button><!--when we submit the data of form goes to server(POST)-->
        </div>
    </form>
</body>

</html>